<div class="container"> 
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El cliente se ha creado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El cliente no se ha podido crear
	</div>

	<form [formGroup]="FormularioAltaCliente">

		<div class="form-group">
			<label class="control-label" for="razon_social">Razon social</label>
			<input type="text" class="form-control boxed" id="razon_social" formControlName="razon_social"  name="razon_social" >
			<div *ngIf="(razon_social.invalid && razon_social.touched) || razon_social.dirty">
			  <small *ngIf="razon_social.errors?.required" class="form_error">La razon social es obligatoria</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="nombre_comercial">Nombre comercial</label>
			<input type="text" class="form-control boxed" id="nombre_comercial" formControlName="nombre_comercial"  name="nombre_comercial" >
			<div *ngIf="(nombre_comercial.invalid && nombre_comercial.touched) || nombre_comercial.dirty">
			  <small *ngIf="nombre_comercial.errors?.required" class="form_error">El nombre comercial es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="direccion">Direccion</label>
			<input type="text" class="form-control boxed" id="direccion" formControlName="direccion"  name="direccion" >
			<div *ngIf="(direccion.invalid && direccion.touched) || direccion.dirty">
			  <small *ngIf="direccion.errors?.required" class="form_error">La direccion es obligatoria</small>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label" for="ciudad">Ciudad</label>
			<input type="text" class="form-control boxed" id="ciudad" formControlName="ciudad"  name="ciudad" >
			<div *ngIf="(ciudad.invalid && ciudad.touched) || ciudad.dirty">
			  <small *ngIf="ciudad.errors?.required" class="form_error">La ciudad es obligatoria</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="codigo_postal">Codigo postal</label>
			<input type="text" class="form-control boxed" id="codigo_postal" formControlName="codigo_postal"  name="codigo_postal" >
			<div *ngIf="(codigo_postal.invalid && codigo_postal.touched) || codigo_postal.dirty">
			  <small *ngIf="codigo_postal.errors?.required" class="form_error">El codigo postal es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="telefono">Telefono</label>
			<input type="text" class="form-control boxed" id="telefono" formControlName="telefono"  name="telefono" >
			<div *ngIf="(telefono.invalid && telefono.touched) || telefono.dirty">
			  <small *ngIf="telefono.errors?.required" class="form_error">El telefono son obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="cif">cif/dni</label>
			<input type="text" class="form-control boxed" id="cif" formControlName="cif"  name="cif" >
			<div *ngIf="(cif.invalid && cif.touched) || cif.dirty">
			  <small *ngIf="cif.errors?.required" class="form_error">El cif/dni es obligatorio</small>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control boxed" id="email" formControlName="email"  name="email" >
			<div *ngIf="(email.invalid && email.touched) || email.dirty">
			  <small *ngIf="email.errors?.required" class="form_error">El email es obligatorio</small>
			</div>
		</div> 

		<button (click)="altaCliente()" type="submit"  class="btn btn-rounded btn-secondary" [disabled]="FormularioAltaCliente.invalid">Guardar cambios</button>
	</form>
</div>