<div class="container"> 

	<div id="recuadro">
		<h1> Detalles del cliente </h1>
		<p> Identificador           : {{cliente.id}}</p>
		<p> Razón social      		: {{cliente.razon_social}}</p>
		<p> Nombre comercial        : {{cliente.nombre_comercial}}</p>
		<p> Dirección 				: {{cliente.direccion}}</p>	
		<p> Ciudad 					: {{cliente.ciudad}}</p>
		<p> Código postal 			: {{cliente.codigo_postal}}</p>
		<p> Teléfono 				: {{cliente.telefono}}</p>
		<p> NIF 					: {{cliente.nif}}</p>
		<p> Email 					: {{cliente.email}}</p>
		<p> Número de cuenta 		: {{cliente.numero_cuenta}}</p>

	</div>

    <button [routerLink]="['/editar-cliente', cliente.id]" class="btn btn-warning col-3 ml-2 mb-2">Editar</button>
    <button (click)="mostrarDialogo(cliente)" class="btn btn-danger col-3 ml-5 mb-2 ">Eliminar</button>

</div>