<div class="container mt-4">
<h2>{{title}}</h2>  

    <input class="form-control boxed filtro" matInput (keyup)="applyFilter($event)" placeholder="FILTRO...">

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="razon_social">
      <th mat-header-cell *matHeaderCellDef>Razón social</th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.razon_social}} </td>
    </ng-container>

        <!-- Position Column -->
    <ng-container matColumnDef="nombre_comercial">
      <th mat-header-cell *matHeaderCellDef>Nombre comercial</th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.nombre_comercial}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let cliente">
      <div class="row">
        <button (click)="crearFactura(cliente)" class="btn btn-warning col-12 mr-1 mt-1"> Seleccionar </button>
      </div>
      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,20,50]" showFirstLastButtons></mat-paginator>
</div>
</div>