<div class="container">
	<h2>{{title}}</h2>
	
	<div class="message failed" *ngIf="this.intentoFallidoLogin">
		No te has podido identificar
	</div>

	<form #loginForm="ngForm" action="">
		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control boxed" name="email" #email="ngModel" [(ngModel)]="usuario.email" required />
			<span class="form_error" *ngIf="email.touched && !email.valid">
				El email es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="password">Contraseña</label>
			<input type="password"  class="form-control boxed" name="password" #password="ngModel" [(ngModel)]="usuario.password" required />
			<span class="form_error" *ngIf="password.touched && !password.valid">
				La contraseña es obligatoria
			</span>
		</div>
        <button [disabled]="!loginForm.form.valid" type="button" (click)="login()" class="btn btn-outline-success">identificarse</button>
	</form>
</div>