<div class="container"> 

	<div id="recuadro">
		<h1> Factura  {{id_factura}}</h1>
    <div *ngIf="arrayPedidoFactura?.length!=0"  class="row header">
      <div class="col-3 my-1 texto">id</div>
      <div class="col-2 my-1">razon social</div>
      <div class="col-2 my-1">fecha</div>
      <div class="col-3 my-1 texto">importe</div>
    </div>
    <div *ngFor="let pedido of arrayPedidoFactura" class="row lineas">
      <div class="col-3 my-1 texto">{{pedido.id}}</div>
      <div class="col-2 my-1">{{pedido.razon_social}}</div>
      <div class="col-2 my-1">{{pedido.fecha | date:'dd/MM/yyyy'}}</div>
      <div class="col-3 my-1 texto">{{pedido.precio_total}}€<button (click)="mostrarDialogo(pedido)" class="btn btn-danger"> Eliminar </button></div>

    </div>						
	</div>

<div class="container mt-4">

    <input class="form-control boxed filtro" matInput (keyup)="applyFilter($event)" placeholder="FILTRO...">

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="razon_social">
      <th mat-header-cell *matHeaderCellDef>razon social</th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.razon_social}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre_comercial">
      <th mat-header-cell *matHeaderCellDef>nombre comercial</th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.nombre_comercial}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>fecha</th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.fecha | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="base_imponible">
      <th mat-header-cell *matHeaderCellDef>base imponible</th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.base_imponible}} </td>
    </ng-container>

    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef>iva</th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.iva}} </td>
    </ng-container>

    <ng-container matColumnDef="precio_total">
      <th mat-header-cell *matHeaderCellDef> precio total </th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.precio_total}} </td>
    </ng-container>

    <ng-container matColumnDef="facturado">
      <th mat-header-cell *matHeaderCellDef> facturado </th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.facturado}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let pedido">
      <div class="row">
        <button (click)="agregarAlbaran(pedido)" class="btn btn-warning col-12 mt-1"> Seleccionar </button>
      </div>
      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,20,50]" showFirstLastButtons></mat-paginator>
</div>
</div>
</div>


