<div *ngIf="admin == 'No'" class="mensaje_error">
  <h2>Usted no tiene permisos para acceder a este módulo, solo el administrador puede hacerlo</h2>
</div>


<div *ngIf="admin == 'Si'"class="container">
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El usuario se ha creado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El usuario no se ha podido crear
	</div>

	<form [formGroup]="FormularioAltaUsuario">

		<div class="form-group">
			<label class="control-label" for="nombre">Nombre</label>
			<input type="text" class="form-control boxed"  id="nombre" maxlength="25" formControlName="nombre"  name="nombre" >
			<div *ngIf="(nombre.invalid && nombre.touched) || nombre.dirty">
			  <small *ngIf="nombre.errors?.required" class="form_error">El nombre es obligatorio</small>
			  <small *ngIf="nombre.errors?.pattern" class="form_error">El nombre solo puede tener letras y espacios</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="apellidos">Apellidos</label>
			<input type="text" class="form-control boxed" id="apellidos" maxlength="45" formControlName="apellidos"  name="apellidos" >
			<div *ngIf="(apellidos.invalid && apellidos.touched) || apellidos.dirty">
			  <small *ngIf="apellidos.errors?.required" class="form_error">Los apellidos son obligatorios</small>
			  <small *ngIf="apellidos.errors?.pattern" class="form_error">Los apellidos solo pueden tener letras y espacios</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control boxed" id="email" maxlength="65" formControlName="email"  name="email" >
			<div *ngIf="(email.invalid && email.touched) || email.dirty">
			  <small *ngIf="email.errors?.required" class="form_error">El email es obligatorio</small>
			  <small *ngIf="email.errors?.pattern" class="form_error">El email no es válido</small>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label" for="password">Contraseña</label>
			<input type="password" class="form-control boxed" id="password" formControlName="password"  name="password" >
			<div *ngIf="(password.invalid && password.touched) || password.dirty">
			  <small *ngIf="password.errors?.required" class="form_error">La contraseña es obligatoria</small>
			  <small *ngIf="password.errors?.pattern" class="form_error">La contraseña debe tener al menos una letra mayúscula, una letra minúscula , un dígito , un carácter especial y un tamaño entre 8 y 15 caracteres</small>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label" for="administrador">Administrador</label><br>

			<label>
				<input type="radio" value="Si" formControlName="administrador">
				<span>Si</span>
			</label><br>
			<label>
				<input type="radio" value="No" formControlName="administrador">
				<span>No</span>
			</label>
			<div *ngIf="(administrador.invalid && administrador.touched) || administrador.dirty">
			  <small *ngIf="administrador.errors?.required" class="form_error">El campo no puede estar vacío</small>
			</div>	
		</div>

		<button (click)="altaUsuario()" type="submit"  class="btn btn-rounded btn-secondary" [disabled]="FormularioAltaUsuario.invalid">añadir</button>
	</form>


</div>