<div *ngIf="admin == 'No'" class="mensaje_error">
  <h2>Usted no tiene permisos para acceder a este módulo, solo el administrador puede hacerlo.</h2>
</div>


<div *ngIf="admin == 'Si'"class="container">
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El usuario se ha creado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El usuario no se ha podido crear
	</div>

	<form [formGroup]="FormularioAltaUsuario">

		<div class="form-group">
			<label class="control-label" for="nombre">Nombre</label>
			<input type="text" class="form-control boxed" id="nombre" formControlName="nombre"  name="nombre" >
			<div *ngIf="(nombre.invalid && nombre.touched) || nombre.dirty">
			  <small *ngIf="nombre.errors?.required" class="form_error">El nombre es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="apellidos">Apellidos</label>
			<input type="text" class="form-control boxed" id="apellidos" formControlName="apellidos"  name="apellidos" >
			<div *ngIf="(apellidos.invalid && apellidos.touched) || apellidos.dirty">
			  <small *ngIf="apellidos.errors?.required" class="form_error">Los apellidos son obligatorios</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control boxed" id="email" formControlName="email"  name="email" >
			<div *ngIf="(email.invalid && email.touched) || email.dirty">
			  <small *ngIf="email.errors?.required" class="form_error">El email es obligatorio</small>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label" for="password">Contraseña</label>
			<input type="password" class="form-control boxed" id="password" formControlName="password"  name="password" >
			<div *ngIf="(password.invalid && password.touched) || password.dirty">
			  <small *ngIf="password.errors?.required" class="form_error">La contraseña es obligatoria</small>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label" for="administrador">Administrador</label>
			<select  class="form-control boxed" id="administrador" formControlName="administrador"  name="administrador" >
				<option value="No">No</option>
				<option value="Si">Si</option>
			</select>
			<div *ngIf="(administrador.invalid && administrador.touched) || administrador.dirty">
			  <small *ngIf="administrador.errors?.required" class="form_error">El campo no puede estar vacio</small>
			</div>	
		</div>

		<button (click)="altaUsuario()" type="submit"  class="btn btn-rounded btn-secondary" [disabled]="FormularioAltaUsuario.invalid">añadir</button>
	</form>


</div>