<div *ngIf="admin == 'No'" class="mensaje_error">
  <h2>Usted no tiene permisos para acceder a este módulo, solo el administrador puede hacerlo.</h2>
</div>


<div *ngIf="admin == 'Si'" class="container"> 
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El articulo se ha editado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El articulo no se ha podido editar
	</div>

	<form [formGroup]="FormularioDatos">

		<div class="form-group">
			<label class="control-label" for="nombre">Nombre</label>
			<input type="text" class="form-control boxed" id="nombre" formControlName="nombre"  name="nombre" >
			<div *ngIf="(nombre.invalid && nombre.touched) || nombre.dirty">
			  <small *ngIf="nombre.errors?.required" class="form_error">El nombre es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="direccion">Dirección</label>
			<input type="text" class="form-control boxed" id="direccion" formControlName="direccion"  name="direccion" >
			<div *ngIf="(direccion.invalid && direccion.touched) || direccion.dirty">
			  <small *ngIf="direccion.errors?.required" class="form_error">La direccion es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="ciudad">Ciudad</label>
			<input type="text" class="form-control boxed" id="ciudad" formControlName="ciudad"  name="ciudad" >
			<div *ngIf="(ciudad.invalid && ciudad.touched) || ciudad.dirty">
			  <small *ngIf="ciudad.errors?.required" class="form_error">La ciudad es obligatoria</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="codigo_postal">Codigo postal</label>
			<input type="text" class="form-control boxed" id="codigo_postal" formControlName="codigo_postal"  name="codigo_postal" >
			<div *ngIf="(codigo_postal.invalid && codigo_postal.touched) || codigo_postal.dirty">
			  <small *ngIf="codigo_postal.errors?.required" class="form_error">El codigo postal es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="telefono">Telefono</label>
			<input type="text" class="form-control boxed" id="telefono" formControlName="telefono"  name="telefono" >
			<div *ngIf="(telefono.invalid && telefono.touched) || telefono.dirty">
			  <small *ngIf="telefono.errors?.required" class="form_error">El telefono es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="cif">cif</label>
			<input type="text" class="form-control boxed" id="cif" formControlName="cif"  name="cif" >
			<div *ngIf="(cif.invalid && cif.touched) || cif.dirty">
			  <small *ngIf="cif.errors?.required" class="form_error">El cif son obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control boxed" id="email" formControlName="email"  name="email" >
			<div *ngIf="(email.invalid && email.touched) || email.dirty">
			  <small *ngIf="email.errors?.required" class="form_error">El email es obligatorio</small>
			</div>
		</div>
<!--
		<div class="form-group">

			<label class="control-label" for="logo">Logo nuevo</label><br>
			<input type="file" accept="image/*" (change)="fileEvent($event)"/>
			<button class="btn btn-rounded btn-info" (click)="subirLogo($event)">Subir logo</button>
		</div>
-->

		<button (click)="editarDatos()" type="submit"  class="btn btn-rounded btn-secondary" [disabled]="FormularioDatos.invalid">Guardar cambios</button>
	</form>
</div>