<div class="container"> 
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El articulo se ha editado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El articulo no se ha podido editar
	</div>

	<form #datosForm="ngForm" (ngSubmit)="onSubmit(datosForm)">
		<div class="form-group">

			<label class="control-label" for="nombre">nombre</label>
			<input type="text" class="form-control boxed" name="nombre" #nombre="ngModel" [(ngModel)]="datos.nombre" required />
			<span class="form_error" *ngIf="nombre.touched && !nombre.valid">
			El nombre es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="direccion">direccion</label>
			<input type="text "class="form-control boxed" name="direccion" #direccion="ngModel" [(ngModel)]="datos.direccion" required/>
			<span class="form_error" *ngIf="direccion.touched && !direccion.valid">
				La direccion es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="ciudad">ciudad</label>
			<input type="text" class="form-control boxed" name="ciudad" #ciudad="ngModel" [(ngModel)]="datos.ciudad" required />
			<span class="form_error" *ngIf="ciudad.touched && !ciudad.valid">
				La ciudad es obligatoria
			</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="codigo_postal">codigo postal</label>
			<input type="text" class="form-control boxed" name="codigo_postal" #codigo_postal="ngModel" [(ngModel)]="datos.codigo_postal" required />
			<span class="form_error" *ngIf="codigo_postal.touched && !codigo_postal.valid">
				El codigo postal es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="telefono">telefono</label>
			<input type="text"  class="form-control boxed" name="telefono" #telefono="ngModel" [(ngModel)]="datos.telefono" required />
			<span class="form_error" *ngIf="telefono.touched && !telefono.valid">
				El telefono es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="cif">cif</label>
			<input type="text "class="form-control boxed" name="cif" #cif="ngModel" [(ngModel)]="datos.cif" required/>
			<span class="form_error" *ngIf="cif.touched && !cif.valid">
				El cif son obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="email">email</label>
			<input type="text "class="form-control boxed" name="email" #email="ngModel" [(ngModel)]="datos.email" required/>
			<span class="form_error" *ngIf="email.touched && !email.valid">
				El email es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="logo">Logo nuevo</label><br>
			<input type="file" accept="image/*" (change)="fileEvent($event)"/>
			<button class="btn btn-rounded btn-info" (click)="subirLogo($event)">Subir logo</button>
		</div>


		<button type="submit" class="btn btn-rounded btn-secondary" [disabled]="!datosForm.form.valid">añadir</button>
	</form>
</div>