<div class="container"> 
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El cliente se ha creado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El cliente no se ha podido crear
	</div>

	<form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
		<div class="form-group">

			<label class="control-label" for="razon_social">razon social</label>
			<input type="text" class="form-control boxed" name="razon_social" #razon_social="ngModel" [(ngModel)]="cliente.razon_social" required />
			<span class="form_error" *ngIf="razon_social.touched && !razon_social.valid">
				La razon social es obligatoria
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="nombre_comercial">nombre comercial</label>
			<input type="text "class="form-control boxed" name="nombre_comercial" #nombre_comercial="ngModel" [(ngModel)]="cliente.nombre_comercial" required/>
			<span class="form_error" *ngIf="nombre_comercial.touched && !nombre_comercial.valid">
				El nombre comercial es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="direccion">direccion</label>
			<input type="text "class="form-control boxed" name="direccion" #direccion="ngModel" [(ngModel)]="cliente.direccion" required/>
			<span class="form_error" *ngIf="direccion.touched && !direccion.valid">
				La direccion es obligatoria
			</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="ciudad">ciudad</label>
			<input type="text" class="form-control boxed" name="ciudad" #ciudad="ngModel" [(ngModel)]="cliente.ciudad" required />
			<span class="form_error" *ngIf="ciudad.touched && !ciudad.valid">
				La ciudad es obligatoria
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="codigo_postal">codigo postal</label>
			<input type="text"  class="form-control boxed" name="codigo_postal" #codigo_postal="ngModel" [(ngModel)]="cliente.codigo_postal" required />
			<span class="form_error" *ngIf="codigo_postal.touched && !codigo_postal.valid">
				El codigo postal es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="telefono">telefono</label>
			<input type="text "class="form-control boxed" name="telefono" #telefono="ngModel" [(ngModel)]="cliente.telefono" required/>
			<span class="form_error" *ngIf="telefono.touched && !telefono.valid">
				El telefono son obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="cif">cif/dni</label>
			<input type="text "class="form-control boxed" name="cif" #cif="ngModel" [(ngModel)]="cliente.cif" required/>
			<span class="form_error" *ngIf="cif.touched && !cif.valid">
				El cif/dni es obligatorio
			</span>
		</div>

		<div class="form-group">

			<label class="control-label" for="email">email</label>
			<input type="text "class="form-control boxed" name="email" #email="ngModel" [(ngModel)]="cliente.email" required/>
			<span class="form_error" *ngIf="email.touched && !email.valid">
				El email es obligatorio
			</span>
		</div>

		<button type="submit" class="btn btn-rounded btn-secondary" [disabled]="!clienteForm.form.valid">Guardar cambios</button>
	</form>
</div>