<div class="container"> 
	<h2>{{title}}</h2>

	<div class="message success" *ngIf="status == 'success'">
		El articulo se ha creado correctamente
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		El articulo no se ha podido crear
	</div>

	<form [formGroup]="FormularioAltaArticulo">

		<div class="form-group">
			<label class="control-label" for="codigo">Codigo</label>
			<input type="text" class="form-control boxed" id="codigo" formControlName="codigo"  name="codigo" >
			<div *ngIf="(codigo.invalid && codigo.touched) || codigo.dirty">
			  <small *ngIf="codigo.errors?.required" class="form_error">El codigo es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="nombre">Nombre</label>
			<input type="text" class="form-control boxed" id="nombre" formControlName="nombre"  name="nombre" >
			<div *ngIf="(nombre.invalid && nombre.touched) || nombre.dirty">
			  <small *ngIf="nombre.errors?.required" class="form_error">El nombre es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="descripcion">Descripcion</label>
			<textarea class="form-control boxed" id="descripcion" formControlName="descripcion"  name="descripcion"></textarea>
			<div *ngIf="(descripcion.invalid && descripcion.touched) || descripcion.dirty">
			  <small *ngIf="descripcion.errors?.required" class="form_error">La descripcion es obligatoria</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="proveedor">Proveedor</label>
			<input type="text" class="form-control boxed" id="proveedor" formControlName="proveedor"  name="proveedor" >
			<div *ngIf="(proveedor.invalid && proveedor.touched) || proveedor.dirty">
			  <small *ngIf="proveedor.errors?.required" class="form_error">El proveedor es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="precio_compra">Precio de compra</label>
			<input type="text" class="form-control boxed" id="precio_compra" formControlName="precio_compra"  name="precio_compra" >
			<div *ngIf="(precio_compra.invalid && precio_compra.touched) || precio_compra.dirty">
			  <small *ngIf="precio_compra.errors?.required" class="form_error">El precio de compra es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="rentabilidad">Rentabilidad</label>
			<input type="text" class="form-control boxed" id="rentabilidad" formControlName="rentabilidad"  name="rentabilidad" >
			<div *ngIf="(rentabilidad.invalid && rentabilidad.touched) || rentabilidad.dirty">
			  <small *ngIf="rentabilidad.errors?.required" class="form_error">La rentabilidad son obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="iva">IVA</label>
			<input type="text" class="form-control boxed" id="iva" formControlName="iva"  name="iva" >
			<div *ngIf="(iva.invalid && iva.touched) || iva.dirty">
			  <small *ngIf="iva.errors?.required" class="form_error">El iva es obligatorio</small>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="stock">Stock</label>
			<input type="text" class="form-control boxed" id="stock" formControlName="stock"  name="stock" >
			<div *ngIf="(stock.invalid && stock.touched) || stock.dirty">
			  <small *ngIf="stock.errors?.required" class="form_error">El stock es obligatorio</small>
			</div>
		</div>
		
		<button (click)="altaArticulo()" type="submit"  class="btn btn-rounded btn-secondary" [disabled]="FormularioAltaArticulo.invalid">añadir</button>
	</form>
</div>