<div class="container"> 

	<div id="recuadro">
		<h1> Información del pedido </h1>
    <div *ngIf="arrayLineaPedido?.length!=0"  class="row header">
      <div class="col-3 my-1 texto">nombre</div>
      <div class="col-2 my-1">cantidad</div>
      <div class="col-2 my-1">descuento</div>
      <div class="col-3 my-1 texto">importe</div>
    </div>
    <div *ngFor="let linea of arrayLineaPedido" class="row lineas">
      <div class="col-3 my-1 texto">{{linea.nombre_articulo}}</div>
      <div class="col-2 my-1">{{linea.cantidad}}</div>
      <div class="col-2 my-1">{{linea.descuento}}</div>
      <div class="col-3 my-1 texto">{{linea.importe}}€<button (click)="mostrarDialogo(linea)" class="btn btn-danger"> Eliminar </button></div>

    </div>						
	</div>

<div class="container mt-4">
 
    <input class="form-control boxed filtro" matInput (keyup)="applyFilter($event)" placeholder="FILTRO...">

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>codigo</th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
    </ng-container>

        <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>nombre</th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.nombre}} </td>
    </ng-container>

        <!-- Position Column -->
    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef>proveedor</th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.proveedor}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="precio_venta">
      <th mat-header-cell *matHeaderCellDef> precio venta </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.precio_venta}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef> iva </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.iva}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> stock </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.stock}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let articulo">
        <button (click)="almacenarArticulo(articulo)" type="button" class="btn btn-warning col-12 mt-1" data-toggle="modal"
                    data-target="#modalPedido">Seleccionar</button>
      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,20,50]" showFirstLastButtons></mat-paginator>
</div>
</div>

</div>


<!-- Aqui empieza el modal de login -->

<div class="modal fade" id="modalPedido" #modalPedido tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="FormularioPedido" action="">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Introduzca la cantidad</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
            <div class="form-group">
              <label class="control-label" for="cantidad">Cantidad(Stock: {{stock}} unidades)</label>
              <input type="text" class="form-control boxed" id="cantidad" formControlName="cantidad"  name="cantidad" autocomplete="off" >
              <div *ngIf="(cantidad.invalid && cantidad.touched) || cantidad.dirty">
                <small *ngIf="cantidad.errors?.required" class="form_error">La cantidad es obligatoria</small>
                <small *ngIf="cantidad.errors?.pattern" class="form_error">Solo puedes introducir dígitos</small>
                <small *ngIf="mensaje_error_stock == true" class="form_error">No se dispone de tanto stock</small>
              </div>
            </div>
            <p class="mensaje_modal">Importe total: {{cantidad.value*precio_venta}}€</p>
            
            <div *ngIf="cantidad.value" class="form-group">
              <label class="control-label" for="opcion">Seleccione tipo de descuento</label><br>

              <label>
                <input type="radio" value="precio_nuevo" formControlName="opcion" name="opcion" id="opcion">
                <span class="radio_options">Precio  nuevo</span>
              </label>
              <label>
                <input type="radio" value="porcentaje_descuento" formControlName="opcion" name="opcion" id="opcion">
                <span class="radio_options">Porcentaje DTO</span>
              </label>
              <label>
                <input type="radio" value="descuento" formControlName="opcion" name="opcion" id="opcion">
                <span class="radio_options">DTO directo</span>
              </label>
            </div>
            <div *ngIf="opcion.value == 'precio_nuevo'" class="form-group">
              <label class="control-label" for="precio_nuevo">Nuevo precio</label>
              <input type="text" class="form-control boxed" id="precio_nuevo" formControlName="precio_nuevo"  name="precio_nuevo" autocomplete="off">
              <div *ngIf="(precio_nuevo.invalid && precio_nuevo.touched) || precio_nuevo.dirty">
                <small *ngIf="precio_nuevo.errors?.pattern" class="form_error">Solo puedes introducir dígitos con dos decimales</small>
                <small *ngIf="mensaje_error_descuento == true" class="form_error">Imposible aplicar este descuento</small>
              </div>
            </div>

            <div *ngIf="opcion.value == 'porcentaje_descuento'" class="form-group">
              <label class="control-label" for="porcentaje_descuento">Porcentaje descuento</label>
              <input type="text" class="form-control boxed" id="descuento" formControlName="porcentaje_descuento"  name="porcentaje_descuento" autocomplete="off">
              <div *ngIf="(porcentaje_descuento.invalid && porcentaje_descuento.touched) || porcentaje_descuento.dirty">
                <small *ngIf="porcentaje_descuento.errors?.pattern" class="form_error">Solo puedes introducir dígitos con dos decimales</small>
                <small *ngIf="mensaje_error_descuento == true" class="form_error">Imposible aplicar este descuento</small>
              </div>
            </div>

            <div *ngIf="opcion.value == 'descuento'" class="form-group">
              <label class="control-label" for="descuento">Descuento</label>
              <input type="text" class="form-control boxed" id="descuento" formControlName="descuento"  name="descuento" autocomplete="off">
              <div *ngIf="(descuento.invalid && descuento.touched) || descuento.dirty">
                <small *ngIf="descuento.errors?.pattern" class="form_error">Solo puedes introducir dígitos con dos decimales</small>
                <small *ngIf="mensaje_error_descuento == true" class="form_error">Imposible aplicar este descuento</small>
              </div>
            </div>
            <p *ngIf="opcion.value=='precio_nuevo' && precio_nuevo.value" class="mensaje_modal">Descuento aplicado: {{(cantidad.value*precio_venta)-(cantidad.value*precio_nuevo.value)}}€</p>
            <p *ngIf="opcion.value=='precio_nuevo'" class="mensaje_modal">Importe final: {{(cantidad.value*precio_nuevo.value)}}€</p>
            <p *ngIf="opcion.value=='porcentaje_descuento' && porcentaje_descuento.value" class="mensaje_modal">Descuento aplicado: {{(porcentaje_descuento.value/100)*(cantidad.value*precio_venta)}}€</p>
            <p *ngIf="opcion.value=='porcentaje_descuento'" class="mensaje_modal">Importe final: {{(1-(porcentaje_descuento.value/100))*(cantidad.value*precio_venta)}}€</p>
            <p *ngIf="opcion.value=='descuento' && descuento.value" class="mensaje_modal">Descuento aplicado: {{(descuento.value)}}€</p>
            <p *ngIf="opcion.value=='descuento'" class="mensaje_modal">Importe final: {{(cantidad.value*precio_venta)-descuento.value}}€</p>
                  
          <div class="modal-footer d-flex justify-content-center">
            <button [disabled]="FormularioPedido.invalid" type="button" (click)="agregarArticulo()" class="btn btn-outline-success" >Añadir</button>
            <button  data-dismiss="modal" aria-label="Close" type="button" class="btn btn-outline-success">Cerrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Aqui acaba el modal de login -->