<div class="container"> 

	<div id="recuadro">
		<h1> Detalles del usuario </h1>
		<p> Nombre          : {{usuario.nombre}}</p>
		<p> Apellidos      	: {{usuario.apellidos}}</p>
		<p> Email        	: {{usuario.email}}</p>
		<p> Administrador 	: {{usuario.administrador}}</p>						
	</div>
	
        <button [routerLink]="['/editar-usuario', usuario.uuid]"class="btn btn-warning col-3 ml-2 mb-2"> Editar </button>
        <button (click)="mostrarDialogo(usuario)" class="btn btn-danger col-3 ml-5 mb-2 "> Eliminar </button>

</div>