<div class="container mt-4">
  <button [routerLink]="['/alta-usuario']" [routerLinkActive]="['actived']" class="btn-twitter col-12 mt-1" > Añadir usuario </button>
  
    <label>Filtro</label>
    <button type="button" class="btn btn-outline-light my-2 my-sm-0" data-toggle="modal"
                    data-target="#modalFilterForm">filtrar</button>
    <input class="form-control boxed filtro" matInput (keyup)="applyFilter($event)">

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>nombre</th>
      <td mat-cell *matCellDef="let user"> {{user.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> apellidos </th>
      <td mat-cell *matCellDef="let user"> {{user.apellidos}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let user">
        <button [routerLink]="['/editar-usuario', user.uuid]" class="btn btn-warning col-12 mt-1"> Editar </button>
        <button (click)="mostrarDialogo(user)" class="btn btn-danger col-12 mb-3 mt-1"> Eliminar </button>

      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,20,50]" showFirstLastButtons></mat-paginator>
</div>
</div>
 

 <!-- Aqui empieza el modal de registro -->
<div class="modal fade" id="modalFilterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form  [formGroup]="FormularioFiltro">
      <div class="modal-content container-fluid">
        <div class="modal-header text-center">
          <h1 id="tituloPersonal">Filtro</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

     <div class="form-group">
        <label class="control-label" for="nombre">Nombre</label>
        <input type="text" class="form-control boxed" id="nombre" formControlName="nombre"  name="nombre" >
      </div>

      <div class="form-group">
        <label class="control-label" for="apellidos">Apellidos</label>
        <input type="text" class="form-control boxed" id="apellidos" formControlName="apellidos"  name="apellidos" >
      </div>

      <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input type="text" class="form-control boxed" id="email" formControlName="email"  name="email" >
      </div>


      <div class="form-group">
        <label class="control-label" for="password">Contraseña</label>
        <input type="password" class="form-control boxed" id="password" formControlName="password"  name="password" >
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button  (click)="registrar()" type="submit" class=" col- btn btn-success">Registrar</button>
        <button (click)="cerrarModal()" type="button" class=" col- offset-sm-1 btn btn-warning">Volver</button>
      </div>
      </div>
    </form>
  </div>
</div>
<!-- Aqui acaba el modal de registro -->
<!-- Aqui acaban los modales -->