<div class="container mt-4">

  <button [routerLink]="['/alta-usuario']" [routerLinkActive]="['actived']" class="btn-twitter col-12 mt-1" > Añadir usuario </button>

  <input class="form-control boxed filtro" matInput (keyup)="applyFilter($event)" placeholder="FILTRO...">

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let user"> {{user.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let user"> {{user.apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let user">
      <div class="row">
        <button [routerLink]="['/detalles-usuario', user.uuid]" class="btn btn-twitter col-8 mr-1 my-1"> Detalles </button>
      </div>
      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,20,50]" showFirstLastButtons></mat-paginator>
</div>
</div>
 