table {
  width: 100%;
}


.filtro{
	margin-bottom: 20px;
}

.btn-twitter{
	margin-bottom: 15px;
}

#filtro{
	margin-bottom: 15px;
	text-align: center;
}

.row{
	margin-right: 0px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
		padding-right: 0px;
}
